[Desktop Entry]
Type=Application
Name=AGL Flatpak App Store
Comment=Browse, install, and manage Flatpak applications
Exec=flatpak-app-store
Icon=org.flatpak_minimal.flatpak_dart.example.flutter_remote_manager
Terminal=false
Categories=System;PackageManager;
